:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --boder-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.grid {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
/* animation */
@keyframes fadeIn{
    from {
         opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 2;
}
.modal_overlay{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, .4);
}
.modal_body{
    background-color:var(--white-color);
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    animation: fadeIn linear .1s;
}
.btn {
    min-width: 100px;
    height: 36px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}
.btn:hover{
    opacity: .8;
}

